<div class="header-main" id="top">
	<div class="container">
		<div class="logo">
			<a href="index.html"> 
				<img src="includes/imgs/logo.png" alt="Wish Comes True"> 
			</a>
		</div>

		<button type="button" class="navbar-toggle" ng-init="isMenuOpen = false" ng-click="isMenuOpen = !isMenuOpen"> 
			<i class="fa fa-bars"></i> 
		</button>

	</div>
</div>

<nav class="nav-main"  ng-controller="headerController">
	<div class="container">
		<ul class="flexnav" ng-class="{true:'flexnav-show',false:'flexnav-disappear'}[isMenuOpen]">
			<li class="pointer-hover" ui-sref-active="active"> 
				<a class="no-link-effect" ui-sref="home">Home</a>
			</li>
			<li class="pointer-hover" ui-sref-active="active"> 
				<a class="no-link-effect" ui-sref="our-dogs">Our Dogs</a>
			</li>
			<li class="pointer-hover" ui-sref-active="active"> 
				<a class="no-link-effect" ui-sref="litters">Litters</a>
			</li>
			<li class="pointer-hover" ui-sref-active="active">
				<a class="no-link-effect" ui-sref="news">News</a>
			</li>
			<li class="pointer-hover" ui-sref-active="active">
				<a class="no-link-effect" ui-sref="contact">Contact</a>
			</li>
		</ul>
	</div>
</nav>