<header class="header header-menu-fullw" header></header>

<div class="main" role="main">
	<section class="page-content">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="contacts-widget widget widget__sidebar">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-content">
							<ul class="contacts-info-list pad-bottom">
								<li ng-if="contactData.phoneNumber">
									<i class="fa fa-phone"></i>
									<div class="info-item">
										{{ contactData.phoneNumber }}
									</div>
								</li>
								<li ng-if="contactData.adress">
									<i class="fa fa-map-marker"></i>
									<div class="info-item">
										{{ contactData.adress }}
									</div>
								</li>
							</ul>
							<div class="googlemap-wrapper margin-top" data-animation="fadeInLeft" data-animation-delay="0">
								<div id="map_canvas" class="map-canvas"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<hr class="visible-sm visible-xs lg">
					<form action="php/contact-form.php" id="contact-form">

					<div class="alert alert-success hidden" id="contact-alert-success">
						<strong>Success!</strong> Thank you for your message. Reply will be in a while!
					</div>
					<div class="alert alert-danger hidden" id="contact-alert-error">
						<strong>Error!</strong> Something went wrong sending your message.
					</div>

					<div class="form-group">
						<label>Email <span class="required">*</span></label>
						<input type="email" 
							value=""
							data-msg-required="Please enter your email address."
							data-msg-email="Please enter a valid email address."
							class="form-control"
							name="email"
							id="email">
					</div>
					<div class="form-group">
						<label>Subject <span class="required">*</span> </label>
							<input type="text" 
							value=""
							data-msg-required="Please enter the subject."
							class="form-control"
							name="subject"
							id="subject">
					</div>

					<div class="form-group">
						<label>Message <span class="required">*</span></label>
						<textarea
						data-msg-required="Please enter your message."
						rows="10"
						class="form-control"
						name="message"
						id="message"></textarea>
					</div>

					<input type="submit" value="Send Message" class="btn btn-primary pull-right" data-loading-text="Loading...">
					</form>
				</div>
			</div>
		</div>
	</section>
	</div>
	