<header class="header header-menu-fullw" header></header>

<div class="main" role="main">
	<section class="section section-nomargin">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="icon-box circled icon-box-animated" data-animation="fadeInLeft" data-animation-delay="0">
						<h2>About Us</h2>
						<p class="icon-box-body">
						{{ aboutUs }}
						</p>
					</div>
				</div>
				<div class="col-md-6 hidden-xs" data-animation="fadeInRight" data-animation-delay="0">
					<div class="img-box">
						<img src="includes/imgs/view-home.png" alt="GreatDane">
					</div>
				</div>
			</div>
		</div>
	</section>
</div>