<header class="header header-menu-fullw" header></header>

<div class="main" role="main">
  <section class="page-content litters-view">

    <div class="container margin-bottom-xl">
      <div class="title-bordered animation" data-animation-delay="0" data-animation="fadeInUp">
        <h2>Our Litters</h2>
      </div>

      <div class="row" ng-repeat="row in presentationRows track by $index"  ng-init="rowNumber=$index; rowLitters=(litters|littersOverviewRowSet:rowNumber)" >

        <div class="col-md-3" ng-repeat="litter in rowLitters">
          <div class="icon-box centered lg circled icon-box-animated">
            <a class="no-link-effect" ng-click="gotoElement(litter.letter)">
              <div class="icon">
                <i>{{litter.letter}}</i>
              </div>
            </a>
            <div class="icon-box-body">
              <h3>Litter {{litter.letter}}</h3>
              <p>
              Male : {{litter.father}}<br/>
              Female: {{litter.mother}} 
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div litters litters-info="litters"></div>
    
  </section>
</div>