<header class="header header-menu-fullw" header></header>
<div class="main" role="main">

	<section class="page-content">
		<div class="container">
			
			<div class="row">
				<aside class="sidebar col-md-3 col-bordered animation" data-animation="fadeInLeft" data-animation-delay="0">

					<!-- Widget :: Latest Posts -->
					<div class="latest-posts-widget widget widget__sidebar">
						<h3 class="widget-title">Latest Posts</h3>
						<div class="widget-content">
							<ul class="latest-posts-list">
								<li ng-repeat="news in latestNews track by $index">
									<figure class="thumbnail">
										<a ng-click="goToPost($index)">
											<img ng-src="includes/imgs/news/{{news.id}}/{{news.thumbnail}}" ng-alt="{{news.thumbnailAlt}}">
										</a>
									</figure>
											<span class="date">{{news.date | date:'dd/mm/y'}}</span>
									<h5 class="title">
										<a ng-click="goToPost($index)">
											{{news.title}}
										</a>
									</h5>
								</li>
							</ul>
						</div>
					</div>
					<!-- /Widget :: Latest Posts -->

				</aside>
					
				<hr class="visible-sm visible-xs lg">

				<div class="content col-md-8 col-md-8 col-md-offset-1">
					<div class="row margin-bottom">
						<div class="col-xs-12">
							<div class="col-xs-5">
								<div class="post-button pull-left" ng-show="currentPostIndex!=0"   ng-click="previousPost()">
									<i class="fa fa-chevron-left"></i>
								</div>
							</div>
							<div class="col-xs-2">
								<div clas="post-button">
								{{currentPostIndex+1}}/{{allNews.length}}
								</div>
							</div>
							<div class="col-xs-5">
								<div class="post-button  pull-right" ng-show="currentPostIndex!=allNews.length-1" ng-click="nextPost()">
									<i class="fa fa-chevron-right"></i>
								</div>
							</div>
						</div>
					</div>
					<hr>
				<div class="row margin-bottom">
					<article class="entry entry__gallery entry__with-icon">
						<div class="article-animation" id="article-holder">
						<header class="entry-header margin-top-xl">
							<div class="entry-icon visible-md visible-lg">
								<span class="date-lg">{{ currentPost.date | date:'dd' }}</span>
								<span class="date-sm"> {{ currentPost.date | date:'MMM, y' }}</span>
							</div>
							<h2>
								{{ currentPost.title }}
								<small class="visible-sm visible-xs">
									<br/>{{ currentPost.date | date:'dd MMM y' }}
								</small>
							</h2>
						</header>
						<div class="excerpt">
							{{ currentPost.text }}
						</div>

						<div class="margin-bottom-xl" ng-if="currentPost.album">
							<div class="slider-frame center-block">
								<div owl-carousel view="'news'" pics="currentPost.album" pid="currentPost.id"></div>
							</div>
						</div>

						<div class="row" news-video></div>
			            </div>
					</article>
					</div>
				</div>

			</div>

		</div>
	</section>
</div>