<header class="header header-menu-fullw" header></header>

<div class="main" role="main">
	<section class="page-content">
		<div class="container">
			<div class="clearfix">
				<ul class="project-feed-filter">
					<li><a href="#" class="btn btn-sm btn-default btn-primary" data-filter="*">All</a></li>
					<li><a href="#" class="btn btn-sm btn-default" data-filter=".Female">Females</a></li>
					<li><a href="#" class="btn btn-sm btn-default" data-filter=".Male">Males</a></li>
				</ul>
			</div>
			<div class="project-feed project-feed__4cols row">

				<div ng-repeat="dog in dogs" class="col-sm-6 col-md-3 project-item {{dog.gender}}">
					<div class="project-item-inner">
						<figure class="alignnone project-img">
							<img ng-src="includes/imgs/dogs/{{dog.id}}/{{dog.profilePicName}}" alt="{{dog.profileAlt}}"/>
								<div class="overlay">
									<a  ng-click="gotoElement(dog.id)" class="dlink"><i class="fa fa-info-circle"></i></a>
								</div>
						</figure>
						<div class="project-desc">
							<h4 class="title">{{dog.name}}</h4>
							<span class="desc">{{dog.gender}}</span>
						</div>
					</div>
				</div>

				<div class="project-item dummy-project-item">
					<div class="project-item-inner">
						<figure class="alignnone project-img">
							<img src="http://placehold.it/346x346" alt="" />
							<div class="overlay">
								<a href="portfolio-single.html" class="dlink">
									<i class="fa fa-info-circle"></i>
								</a>
							</div>
						</figure>
						<div class="project-desc">
							<h4 class="title"><a href="#">Zoe</a></h4>
							<span class="desc">Male</span>
						</div>
					</div>
				</div>	
			</div>
			<hr>
			<div class="container pad-top-xl" ng-repeat="dog in dogs" id="{{dog.id}}">
				<div class="row">
					<div class="col-md-8 margin-bottom">
						<div class="slider-frame center-block">
							<div class="owl-carousel" view="'dogsView'" pics="dog.album" pid="dog.id" owl-carousel>

							</div> 
						</div>
					</div>

					<div class="col-md-4">
						<h3>Details</h3>
						<div class="list list__single-info">
							<ul>
								<li><span>Name :</span> {{ dog.name }}</li>
								<li><span>Gender:</span> {{ dog.gender }}</li>
								<li><span>Date of Birth:</span> {{ dog.dateOfBirth }}</li>
								<li><span>Owner:</span> {{ dog.owner }}</li>
								<li><span>Vendor:</span> {{ dog.vendor }}</li>
							</ul>
						</div>

						<div class="visible-sm visible-xs spacer-lg"></div>
						<h3>About {{ dog.name }}</h3>
						<p>{{ dog.dogInfo }}</p>
					</div>
				</div>
				<div class="row">
					<div class="container margin-bottom-xl">
						<div class="job_listings">
							<ul class="job_listings">
								<li class="job_listing" ng-repeat="trophy in dog.trophies">
									<a class="no-link-effect">
										<img src="includes/imgs/trophy.png" alt="" class="company_logo">
										<div class="position">
											<h3> {{ trophy.result }} </h3>
											<div class="company">
												<strong> {{ trophy.showName }} </strong>
											</div>
										</div>
										<div class="location">
											<i class="fa fa-map-marker"></i> {{ trophy.location }}
										</div>
										<ul class="meta">
											<li class="date">
												{{ trophy.date }}
											</li>
										</ul>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				<hr class="no-margin">
			</div>
		</div>
	</section>
</div>