<header class="header header-menu-fullw" header></header>
<div class="main" role="main">
  <div class="container pad-top-xl">
    <div class="row">
      <div class="input-group">
        <span class="input-group-addon"> About Us : </span>
        <textarea class="form-control" rows="7" ng-model="aboutUs"></textarea>
      </div>
    </div>
    <div class="row margin-top-xl">
      <a class="btn btn-info btn-lg pull-right" ng-click="saveChange()">Save</a>
    </div>
  </div>
</div>