/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.2
*/

.owl-carousel-wrapper {
	position: relative;
}
.owl-theme .owl-controls{
	text-align: center;
}
.owl-theme .owl-item .project-item {
	margin: 0 15px;
}


/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	display: none; /* hide for mobile */
	font-size: 14px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	top: 50%;
	margin-top: -40px;
	z-index: 1;
	opacity: 0;
  	filter: alpha(opacity=0);
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.owl-theme .owl-controls .owl-buttons div:before {
	/*position: absolute;
	top: -4px;
	right: -4px;
	bottom: -4px;
	left: -4px;
	z-index: 2;
	border-radius: 50%;
	background: rgba(255,255,255,.1);
	content:"";
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;*/
}
.owl-theme .owl-controls .owl-buttons div:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	display: block;
	background: red;
	background: #eaeaea;
	content:"";
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.owl-theme .owl-controls .owl-buttons div i {
	position: relative;
	display: inline-block;
	z-index: 3;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
	left: 0;
	border-radius: 0 3px 3px 0;
}
	.owl-theme .owl-controls .owl-buttons .owl-prev:after {
		border-radius: 0 3px 3px 0;
	}
.owl-theme .owl-controls .owl-buttons .owl-next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
	.owl-theme .owl-controls .owl-buttons .owl-next:after {
		border-radius: 3px 0 0 3px;
	}

@media (min-width: 768px) {
	.owl-theme .owl-controls .owl-buttons div {
		display: block;
	}
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	color: #fff;
}
	.owl-theme:hover .owl-controls .owl-buttons div{
		opacity: 1;
	  	filter: alpha(opacity=100);
	}
	.owl-theme .owl-controls.clickable .owl-buttons div:hover:before {
		background: rgba(0,0,0,.1);
	}
	.owl-theme .owl-controls.clickable .owl-buttons div:hover:after {
		background: #a6ce39;
	}

/* Styling Pagination*/
.owl-theme .owl-pagination {
	position: absolute;
	right: 16px;
	bottom: 20px;
	text-align: right;

	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
sl
.owl-theme .owl-pagination .owl-page {
	position: relative;
	display: inline-block;
	margin: 0 8px;
	width: 12px;
	height: 12px;
	cursor: pointer;
}

.owl-theme .owl-pagination .owl-page span {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #ddd;
	background-color: rgba(0,0,0,0.3);
	text-indent: -999em; /* make the text accessible to screen readers */
	cursor: pointer;
	position: absolute;
}

.owl-theme .owl-pagination .owl-page span:focus {
	outline: none;
}

/* Pagination Effects */

.owl-theme .owl-pagination .owl-page span {
	-webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

.owl-theme .owl-pagination .owl-page span:hover,
.owl-theme .owl-pagination .owl-page span:focus {
	background-color: rgba(0,0,0,0.7);
}

.owl-theme .owl-pagination .owl-page.active span {
	background-color: #a6ce39;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}



/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}

/* prev/next */
.prev-next-holder {
	position: relative;
	margin-top: -40px;
	padding-bottom: 32px;
}
	.prev-btn,
	.next-btn {
		display: inline-block;
		width: 24px;
		height: 24px;
		line-height: 21px;
		border-radius: 4px;
		background: #a6ce39;
		border: 1px solid #fff;
		text-align: center;
		font-size: 14px;
		color: #fff;
		margin-left: 3px;
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		-ms-transition: all 200ms ease-in-out;
		-o-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}
	.prev-btn:hover,
	.next-btn:hover {
		text-decoration: none;
		background: #454545;
		border-color: #454545;
		cursor: pointer;
		color: #fff;
	}

/* Testimonials Slider */
.owl-testi blockquote {
	font-size: 16px;
	line-height: 22px;
	background: none;
	border: none;
	text-align: center;
	padding: 60px 0 0 0;
}
	.owl-testi blockquote:before {
		position: absolute;
		left: 50%;
		margin-left: -19px;
		top: 0;
		font-size: 42px;
	}

	.owl-testi cite {
		text-align: center;
		font-size: 16px;
		line-height: 1.5em;
		color: #bbb;
	}
	.owl-testi .owl-pagination {
		position: static;
		padding-top: 40px;
		text-align: center;
	}
	.owl-testi .owl-controls .owl-buttons .owl-prev {
		left: 0;
	}
	.owl-testi .owl-controls .owl-buttons .owl-next {
		right: 0;
	}


@media (min-width: 992px) {

	.owl-theme blockquote {
		padding: 70px 100px 0 100px;
		font-size: 20px;
		line-height: 36px;
	}
}