/* Table of Content
==================================================
	#Links
	#Headings
	#Buttons
	#Lists
	#Thumbnails
	#Forms
	#Social Links
	#Tabs
	#Tables
	#Accordion
	#Call to Action
	#Icon Box
	#Blockquotes & Testimonial
	#Alerts
	#Dropcaps
	#Pricing Tables
	#Progress Bars
	#Misc
		- Rules
		- Spacers
		- Helpers
		- etc.
*/
/*
// #Links
// --------------------------------------------------
*/
a {
  color: #a6ce39;
  text-decoration: none;
}
a:hover {
  color: #98be2f;
  text-decoration: underline;
}
/*
// #Headings
// --------------------------------------------------
*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0 0 1em 0;
  color: #454545;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  color: #bfbfbf;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
}
h1 .fa,
h2 .fa,
h3 .fa,
h4 .fa,
h5 .fa,
h6 .fa,
.h1 .fa,
.h2 .fa,
.h3 .fa,
.h4 .fa,
.h5 .fa,
.h6 .fa {
  margin-right: 5px;
}
h1.with-subtitle small,
h2.with-subtitle small,
h3.with-subtitle small,
h4.with-subtitle small,
h5.with-subtitle small,
h6.with-subtitle small,
.h1.with-subtitle small,
.h2.with-subtitle small,
.h3.with-subtitle small,
.h4.with-subtitle small,
.h5.with-subtitle small,
.h6.with-subtitle small {
  border-left: 1px solid #e0e0e0;
  padding-left: 15px;
  margin-left: 15px;
}
h1,
.h1 {
  font-size: 32px;
  margin-bottom: .75em;
}
h2,
.h2 {
  font-size: 24px;
}
h3,
.h3 {
  font-size: 20px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 16px;
}
h6,
.h6 {
  font-size: 14px;
}
p {
  margin: 0 0 1.5em 0;
}
.title-accent {
  padding-top: 5px;
}
.title-accent > h3 > span {
  font-size: 30px;
}
.section-dark .title-accent > h3 {
  color: #fff;
}
.section-dark .title-accent > h3 > span {
  color: #a6ce39;
}
.title-centered {
  text-align: center;
}
.title-centered > h2 {
  font-size: 28px;
  margin-bottom: 1.2em;
}
.title-bordered {
  text-align: center;
  margin-bottom: 35px;
}
.title-bordered h2 {
  color: grey;
  font-size: 20px;
  font-style: italic;
}
.title-bordered h2 span {
  color: #a6ce39;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
}
.title-bordered:before,
.title-bordered:after {
  content: " ";
  display: table;
  padding-top: 20px;
}
.title-bordered:after {
  clear: both;
}
.title-bordered h2 {
  position: relative;
  display: block;
  overflow: hidden;
  padding-bottom: 20px;
  margin: 0;
  text-transform: uppercase;
  white-space: nowrap;
}
.title-bordered h2 small {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #b5b5b5;
  font-style: normal;
}
.title-bordered h2 .line {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 1px;
  vertical-align: middle;
  background: #e0e0e0;
  background-clip: content-box;
}
.title-bordered h2 .line:before {
  content: "";
  display: block;
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #e0e0e0;
  margin-top: -5px;
}
.title-bordered h2 .line__left {
  left: -1em;
  margin: 0 0 0 -50%;
}
.title-bordered h2 .line__left:before {
  right: 0;
}
.title-bordered h2 .line__right {
  left: 1em;
  margin: 0 -50% 0 0;
}
.title-bordered h2 .line__right:before {
  left: 0;
}
/*
// #Buttons
// --------------------------------------------------
*/
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  border-color: transparent;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.06), 2px 3px 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.06), 2px 3px 0 rgba(0, 0, 0, 0.05);
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn-default {
  background: #ebebeb;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-default:hover,
.btn-default:focus {
  border-color: transparent;
  background-color: #dedede;
}
.btn-default:active,
.btn-default.active {
  background-color: #dedede;
  border-color: transparent;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.12);
}
.btn-primary {
  background: #00adef;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:focus {
  border-color: transparent;
  background-color: #009bd6;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #009bd6;
  border-color: transparent;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.12);
}
.btn-success {
  background: #a6ce39;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:focus {
  border-color: transparent;
  background-color: #98be2f;
}
.btn-success:active,
.btn-success.active {
  background-color: #98be2f;
  border-color: transparent;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.12);
}
.btn-info {
  background: #dfeffe;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:focus {
  border-color: transparent;
  background-color: #c6e3fd;
}
.btn-info:active,
.btn-info.active {
  background-color: #c6e3fd;
  border-color: transparent;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.12);
}
.btn-warning {
  background: #ffb71a;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:focus {
  border-color: transparent;
  background-color: #ffaf00;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #ffaf00;
  border-color: transparent;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.12);
}
.btn-danger {
  background: #dc2a0b;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:focus {
  border-color: transparent;
  background-color: #c4250a;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #c4250a;
  border-color: transparent;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.12);
}
.btn-default {
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.06);
}
.btn-info {
  color: #0e7dc2;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.06);
}
.btn-info:hover,
.btn-info:focus {
  color: #0e7dc2;
}
.btn-danger {
  background: #dc2a0b;
}
.btn-sm {
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.12);
}
.btn-sm:active,
.btn-sm.active {
  -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.12);
}
.btn .fa,
.btn .entypo,
.btn .entypo-social {
  margin-right: 5px;
}
.btn-lg .fa,
.btn-lg .entypo,
.btn-lg .entypo-social {
  margin-right: 10px;
}
.btn .fa-right {
  margin: 0 0 0 8px;
}
/*
// #Lists
// --------------------------------------------------
*/
div.list {
  overflow: hidden;
  /* List Styles */
}
div.list ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 1.5em;
}
div.list ul li {
  position: relative;
  padding: 0 0 8px 20px;
}
div.list ul li:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "\f105";
  font-family: 'FontAwesome';
  font-size: 14px;
  color: #a6ce39;
  margin-right: 10px;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div.list.list__lg {
  font-size: 14px;
}
div.list.list__lg ul li {
  padding: 4px 0 25px 50px;
}
div.list.list__lg ul li:before {
  width: 28px;
  height: 28px;
  border: 1px solid #a6ce39;
  border-radius: 2px;
  text-align: center;
  line-height: 26px;
  content: "\f00c";
}
div.list ol {
  padding-left: 0;
  list-style: none;
  margin-bottom: 1.5em;
  counter-reset: counter;
}
div.list ol li {
  position: relative;
  padding: 0 0 8px 20px;
}
div.list ol li:before {
  display: inline-block;
  /* block would also work */
  position: absolute;
  /* move this out of the way of the text*/
  left: 0;
  /* move the counter labe into the space from the padding */
  content: counter(counter) ". ";
  counter-increment: counter;
  font-weight: bold;
  width: 20px;
  color: #dcdcdc;
}
div.list.list__arrow2 ul li:before {
  content: "\f18e";
}
.dl-horizontal dt {
  width: 90px;
  padding-right: 10px;
  text-align: left;
  font-weight: 300;
  color: #454545;
  padding-bottom: 10px;
}
.dl-horizontal dd {
  margin-left: 100px;
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .dl-horizontal dt {
    width: auto;
    padding-bottom: 0;
  }
  .dl-horizontal dd {
    margin-left: 0;
  }
}
/*
// #Thumbnails
// --------------------------------------------------
*/
.thumbnail {
  padding: 6px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.thumbnail img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #dedede;
}
.thumbnail .caption {
  color: #454545;
}
.alignleft,
.alignright,
.alignnone,
.aligncenter {
  text-align: center;
}
.alignleft img,
.alignright img,
.alignnone img,
.aligncenter img {
  padding: 6px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  max-width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .alignleft img,
  .alignright img,
  .alignnone img,
  .aligncenter img {
    float: none !important;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .alignleft:before,
  .alignright:before,
  .alignnone:before,
  .aligncenter:before,
  .alignleft:after,
  .alignright:after,
  .alignnone:after,
  .aligncenter:after {
    content: " ";
    display: table;
  }
  .alignleft:after,
  .alignright:after,
  .alignnone:after,
  .aligncenter:after {
    clear: both;
  }
}
.alignleft .img-circle,
.alignright .img-circle,
.alignnone .img-circle,
.aligncenter .img-circle {
  border-radius: 50%;
}
.alignleft img {
  float: left;
  margin: 0 20px 10px 0;
}
.alignright img {
  float: right;
  margin: 0 0 10px 20px;
}
.aligncenter {
  display: block;
  text-align: center;
}
.aligncenter img {
  margin: 0 auto 20px auto;
}
.alignnone img {
  margin: 0 0 20px 0;
}
.hovered-img {
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.hovered-img img {
  max-width: 100%;
  height: auto;
}
.hovered-img:hover {
  background: #fff;
  border-color: #ebebeb;
}
/* Image Box (used on Home Page) */
.img-box {
  position: relative;
  text-align: center;
  overflow: hidden;
}
.img-box:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  border-radius: 50%;
  background: #a6ce39;
  width: 240px;
  height: 240px;
  margin: 0 0 0 -120px;
  z-index: 1;
}
@media (min-width: 480px) {
  .img-box:before {
    width: 360px;
    height: 360px;
    margin: 0 0 0 -180px;
  }
}
.img-box:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  width: 200px;
  height: 200px;
  margin: 0 0 0 -100px;
  z-index: 1;
}
@media (min-width: 480px) {
  .img-box:after {
    width: 316px;
    height: 316px;
    margin: 0 0 0 -158px;
    top: 50px;
  }
}
.img-box img {
  display: inline-block;
  position: relative;
  z-index: 2;
  max-width: 85%;
  height: auto;
}
@media (min-width: 768px) {
  .img-box img {
    max-width: 100%;
  }
}
/* Video Holder */
.video-holder {
  padding: 6px;
  background-color: #fff;
  border: 1px solid #ebebbe;
  border-radius: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}
/*
// #Social Links
// --------------------------------------------------
*/
.social-links-txt {
  display: none;
  margin-right: 12px;
}
@media (min-width: 768px) {
  .social-links-txt {
    display: inline-block;
  }
}
.social-links {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
  margin: 0;
}
.social-links > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.social-links > li {
  display: inline;
  vertical-align: top;
  display: inline-block;
  padding: 0;
}
.social-links > li > a {
  display: inline-block;
  font-size: 18px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #454545;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 0 2px;
}
.social-links > li > a:hover {
  background: #a6ce39;
  color: #fff;
  -webkit-transition: none;
  transition: none;
}
.social-links__light > li > a {
  color: #c7c7c7;
}
.social-links__light > li > a:hover {
  color: #fff;
}
.social-links__primary > li > a {
  background: #a6ce39;
  border: 1px solid #a6ce39;
  color: #fff;
}
.social-links__primary > li > a:hover {
  background: #fff;
  border-color: #fff;
  color: #a6ce39;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/*
// #Forms
// --------------------------------------------------
*/
label {
  display: inline-block;
  margin-bottom: 5px;
  color: #454545;
  font-weight: normal;
}
.form-control {
  background-color: #fff;
  border: 1px solid #ebebeb;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 18px;
  padding-right: 18px;
}
.form-control:focus {
  border-color: #a6ce39;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(166, 206, 57, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(166, 206, 57, 0.6);
}
.form-group {
  margin-bottom: 20px;
}
.form-group.form-grop__icon {
  position: relative;
}
.form-group.form-grop__icon .entypo,
.form-group.form-grop__icon .fa {
  display: block;
  position: absolute;
  right: 12px;
  top: 7px;
  font-size: 34px;
}
.form-group.form-grop__icon input[type="text"],
.form-group.form-grop__icon input[type="email"],
.form-group.form-grop__icon input[type="password"],
.form-group.form-grop__icon input[type="tel"],
.form-group.form-grop__icon input[type="url"],
.form-group.form-grop__icon textarea {
  padding-right: 40px;
}
.required {
  color: #e74c3c;
}
label.error {
  color: #a94442;
}
.select-style {
  display: block;
  border: 1px solid #ebebeb;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}
.select-style:after {
  content: "\f0dd";
  display: block;
  position: absolute;
  right: 15px;
  top: 8px;
  font-family: 'FontAwesome';
  font-size: 14px;
  color: #8c8c8c;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.select-style select {
  padding: 5px 16px;
  width: 100%;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-style select:focus {
  outline: none;
}
/* Radio Button */
.radio__custom label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 5px;
}
.radio__custom label:before {
  position: absolute;
  top: 3px;
  left: -20px;
  display: inline-block;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  background-color: #fff;
  content: "";
}
.radio__custom input[type="radio"] {
  display: none;
}
.radio__custom input[type="radio"]:checked + span:before {
  position: absolute;
  top: 8px;
  left: -15px;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #a6ce39;
  content: "";
}
.radio__custom.radio__style2 label:before {
  background: #a6ce39;
  border-color: #98be2f;
}
.radio__custom.radio__style2 input[type="radio"]:checked + span:before {
  background: #fff;
}
.radio__custom.radio__style3 input[type="radio"]:checked + span:before {
  background: #454545;
}
.radio__custom.radio__style4 label:before {
  border-color: #a6ce39;
}
.radio__custom.radio__style4 input[type="radio"]:checked + span:before {
  background: #a6ce39;
}
/* Checkbox */
.checkbox__custom label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 5px;
}
.checkbox__custom label:before {
  position: absolute;
  top: 3px;
  left: -20px;
  display: inline-block;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  content: "";
}
.checkbox__custom input[type="checkbox"] {
  display: none;
}
.checkbox__custom input[type="checkbox"]:checked + span:before {
  position: absolute;
  top: 0;
  left: -18px;
  display: block;
  content: "";
  content: "\f00c";
  font-family: 'FontAwesome';
  font-size: 14px;
  color: #a6ce39;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.checkbox__custom.checkbox__style2 label:before {
  background: #a6ce39;
  border-color: #98be2f;
}
.checkbox__custom.checkbox__style2 input[type="checkbox"]:checked + span:before {
  color: #fff;
}
.checkbox__custom.checkbox__style3 input[type="checkbox"]:checked + span:before {
  color: #454545;
}
.checkbox__custom.checkbox__style4 label:before {
  border-color: #a6ce39;
}
.checkbox__custom.checkbox__style4 input[type="checkbox"]:checked + span:before {
  color: #a6ce39;
}
/*
// #Tabs
// --------------------------------------------------
*/
.tabs .nav-tabs {
  border-bottom: none;
}
.tabs .nav-tabs > li {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .tabs .nav-tabs > li {
    width: 100%;
    float: none;
    margin-bottom: 2px;
  }
  .tabs .nav-tabs > li > a {
    margin-right: 0 !important;
  }
  .tabs .nav-tabs > li.active > a {
    border-bottom: 2px solid #dcdcdc !important;
  }
}
.tabs .nav-tabs > li > a {
  background: #f2f2f2;
  border-left: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
  border-bottom: none !important;
  border-radius: 0;
  padding: 12px 20px;
  color: #6d6d6d;
  position: relative;
}
.tabs .nav-tabs > li > a:after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  height: 3px;
}
.tabs .nav-tabs > li > a:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
}
.tabs .nav-tabs > li > a:hover {
  border-color: #f7f7f7;
}
.tabs .nav-tabs > li > a .fa,
.tabs .nav-tabs > li > a .entypo {
  margin-right: 6px;
}
.tabs .nav-tabs > li.active > a {
  color: #a6ce39;
  border-left-color: #ebebeb;
  border-right-color: #ebebeb;
  background: #fff;
}
.tabs .nav-tabs > li.active > a:after {
  background: #a6ce39;
}
.tabs .nav-tabs > li.active > a:before {
  background: #fff;
}
.tabs .nav-tabs > li.active > a:hover {
  border-bottom-color: #fff;
}
.tabs .tab-content {
  padding: 30px 28px;
  border: 1px solid #ebebeb;
  background: #fff;
}
.tabs .tab-content:before,
.tabs .tab-content:after {
  content: " ";
  display: table;
}
.tabs .tab-content:after {
  clear: both;
}
.tabs .tab-content p:last-child {
  margin-bottom: 0;
}
/*
// #Tables
// --------------------------------------------------
*/
.table > thead > tr > th {
  padding: 14px;
  color: #454545;
  background: #a6ce39;
  border-bottom: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.table > tbody > tr > td {
  padding: 14px;
}
.table-bordered {
  border: 1px solid #ebebeb;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ebebeb;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 1px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f7f7f7;
}
/*
// #Accordion
// --------------------------------------------------
*/
.panel-group {
  margin-bottom: 0;
}
.panel-group .panel {
  border-radius: 3px;
}
.panel-group .panel + .panel {
  margin-top: 10px;
}
.panel-group .panel:first-child {
  border-radius: 3px;
}
.panel-group .panel:last-child {
  border-radius: 3px;
}
.panel-group .panel-heading {
  border-bottom: 0;
  padding: 0;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-title {
  text-transform: none;
  padding: 0;
  border-color: #ebebeb;
}
.panel-group .panel-title > a {
  display: block;
  padding: 14px 40px 14px 20px;
  color: #fff;
  font-weight: 300;
  background: #a6ce39;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}
.panel-group .panel-title > a:before {
  display: block;
  position: absolute;
  right: 17px;
  top: 16px;
  content: "\f068";
  font-family: 'FontAwesome';
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}
.panel-group .panel-title > a.collapsed {
  color: #6d6d6d;
  background: #fff;
  border-color: #ebebeb;
}
.panel-group .panel-title > a.collapsed:before {
  color: #c7c7c7;
  content: "\f067";
}
.panel-group .panel-title > a.collapsed:hover {
  background: #ececec;
  text-decoration: none;
}
.panel-group .panel-title > a:hover {
  text-decoration: none;
}
.panel-group .panel-body {
  padding: 20px 28px;
  background: #fff;
}
.panel-group__alt .panel-title > a {
  display: block;
  padding: 14px 20px 14px 70px;
  background: #fff;
  color: #454545;
}
.panel-group__alt .panel-title > a:before {
  right: auto;
  left: -1px;
  top: -1px;
  width: 48px;
  line-height: 48px;
  border-radius: 2px;
  text-align: center;
  border: 1px solid #ebebeb;
  background: #a6ce39;
}
.panel-group__alt .panel-title > a.collapsed:before {
  background: #fff;
  color: #c7c7c7;
  content: "\f067";
}
.panel-group__alt .panel-title > a.collapsed:hover {
  background: #ececec;
  text-decoration: none;
}
.panel-default {
  border-color: #ebebeb;
}
.panel-default > .panel-heading {
  color: #8c8c8c;
  background-color: #ffffff;
  border-color: #ebebeb;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #ebebeb;
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #ebebeb;
}
/*
// #Call to Action
// --------------------------------------------------
*/
.call-to-action {
  border: 1px solid #ebebeb;
  background: #fff;
  padding: 40px 30px;
  text-align: center;
  display: table;
  width: 100%;
}
.call-to-action:before,
.call-to-action:after {
  content: " ";
  display: table;
}
.call-to-action:after {
  clear: both;
}
@media (min-width: 992px) {
  .call-to-action {
    text-align: left;
  }
}
.call-to-action .cta-txt {
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .call-to-action .cta-txt {
    display: table-cell;
    margin-bottom: 0;
  }
}
.call-to-action .cta-txt p:last-child {
  margin-bottom: 0;
}
.call-to-action .cta-btn {
  display: block;
  text-align: center;
  vertical-align: middle;
}
@media (min-width: 992px) {
  .call-to-action .cta-btn {
    display: table-cell;
    padding-left: 30px;
  }
}
.call-to-action h2 {
  text-transform: none;
  margin-bottom: .25em;
}
.call-to-action.centered {
  text-align: center !important;
}
.call-to-action.centered .cta-txt {
  display: block;
  margin-bottom: 24px;
}
@media (min-width: 992px) {
  .call-to-action.centered .cta-txt {
    display: block;
    width: 100%;
  }
}
.call-to-action.centered .cta-btn {
  display: block;
  padding-left: 0;
}
@media (min-width: 992px) {
  .call-to-action.centered .cta-btn {
    display: block;
    width: 100%;
  }
}
/*
// #Icon Box
// --------------------------------------------------
*/
.no-link-effect {
  text-decoration: none;
}
.no-link-effect:hover {
  text-decoration: none;
}
.no-link-effect:focus {
  text-decoration: none;
}
.pointer-hover:hover {
  cursor: pointer;
}
.icon-box {
  position: relative;
  margin-bottom: 30px;
}
.icon-box .icon {
  float: left;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin-right: 30px;
  font-size: 28px;
  text-align: center;
  color: #a6ce39;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.icon-box .icon:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #f2f2f2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.icon-box .icon:after {
  content: "";
  display: block;
  position: absolute;
  left: -3px;
  top: -3px;
  bottom: -3px;
  right: -3px;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.icon-box .icon i {
  position: relative;
  z-index: 2;
}
.icon-box .icon .entypo {
  font-size: 50px;
  margin: -7px 0 0 0;
}
.icon-box .icon .bg-icon {
  display: none;
}
@media (min-width: 992px) {
  .icon-box .icon .bg-icon {
    display: block;
    position: absolute;
    left: 30px;
    top: 0;
    font-size: 140px;
    color: #f7f7f7;
    z-index: -1;
  }
}
.icon-box .icon-box-body {
  overflow: hidden;
  position: relative;
  z-index: 17;
}
.icon-box .icon-box-body h3,
.icon-box .icon-box-body h4 {
  padding-top: 6px;
  margin-bottom: .75em;
}
.icon-box.circled .icon {
  color: #a6ce39;
  border-radius: 50%;
}
.icon-box.circled .icon:before {
  background: #fff;
  border-radius: 50%;
}
.icon-box.circled .icon:after {
  border-radius: 50%;
  background: #a6ce39;
}
.icon-box.squared .icon {
  color: #fff;
}
.icon-box.squared .icon:before {
  background-color: #a6ce39;
}
.icon-box.squared .icon:after {
  background: #ebebeb;
}
.icon-box.bordered .icon {
  color: #a6ce39;
}
.icon-box.bordered .icon:before {
  background: #fff;
}
.icon-box.bordered .icon:after {
  background: #a6ce39;
}
.icon-box.centered {
  text-align: left;
}
@media (min-width: 992px) {
  .icon-box.centered {
    text-align: center;
  }
}
.icon-box.centered .icon {
  margin: 0 30px 20px 0;
}
@media (min-width: 992px) {
  .icon-box.centered .icon {
    float: none;
    margin: 0 auto 25px auto;
  }
}
.icon-box.boxed {
  border: 1px solid #dcdcdc;
  background: #fff;
  -webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.06);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.06);
  padding: 20px;
}
@media (min-width: 992px) {
  .icon-box.boxed {
    padding: 40px;
  }
}
.icon-box.boxed .icon:after {
  left: -6px;
  right: -6px;
  top: -6px;
  bottom: -6px;
}
@media (min-width: 992px) {
  .icon-box.boxed .icon {
    width: 100px;
    height: 100px;
    font-size: 42px;
    line-height: 100px;
  }
}
.no-touch .icon-box.icon-box-animated .icon:after {
  -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
  -moz-transition: -moz-transform 0.2s, opacity 0.3s;
  transition: transform 0.2s, opacity 0.3s;
}
.no-touch .icon-box.icon-box-animated .icon:hover {
  color: #fff;
}
.no-touch .icon-box.icon-box-animated .icon:hover:before {
  background-color: #a6ce39;
}
.no-touch .icon-box.icon-box-animated .icon:hover:after {
  -webkit-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  opacity: 0;
  filter: alpha(opacity=0);
}
.icon-box.icon-box-animated-inverse .icon {
  color: #fff;
}
.icon-box.icon-box-animated-inverse .icon:before {
  background: #a6ce39;
}
.no-touch .icon-box.icon-box-animated-inverse .icon:after {
  -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
  -moz-transition: -moz-transform 0.2s, opacity 0.3s;
  transition: transform 0.2s, opacity 0.3s;
}
.no-touch .icon-box.icon-box-animated-inverse .icon:hover {
  color: #a6ce39;
}
.no-touch .icon-box.icon-box-animated-inverse .icon:hover:before {
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 3px #a6ce39;
  box-shadow: 0 0 0 3px #a6ce39;
}
.no-touch .icon-box.icon-box-animated-inverse .icon:hover:after {
  -webkit-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  opacity: 0;
  filter: alpha(opacity=0);
}
.icon-box.sm .icon {
  width: 42px;
  height: 42px;
  line-height: 42px;
  font-size: 20px;
  margin-right: 20px;
}
.icon-box.sm .icon:after {
  left: -2px;
  right: -2px;
  top: -2px;
  bottom: -2px;
}
.icon-box.lg .icon {
  width: 100px;
  height: 100px;
  line-height: 92px;
  font-size: 42px;
  border: 2px solid #a6ce39;
}
.icon-box.lg .icon:after {
  left: -2px;
  right: -2px;
  top: -2px;
  bottom: -2px;
}
.icon-box.lg .icon .entypo {
  font-size: 84px;
}
.icon-box.filled .icon {
  color: #fff;
  background: #a6ce39;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(#ffffff, #000000);
}
.icon-box.filled .icon:before {
  background: #a6ce39;
}
.icon-box.filled .icon:after {
  width: 50px;
  left: 50%;
  top: 0;
  bottom: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.08);
  z-index: 2;
  border-radius: 0 50% 50% 0;
}
.icon-box.filled .icon i {
  z-index: 3;
}
.icon-box.filled.icon-box-animated-inverse .icon:hover:after {
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  opacity: 1;
  filter: alpha(opacity=100);
}
/*
// #Blockquotes & Testimonial
// --------------------------------------------------
*/
blockquote {
  padding: 26px 26px 26px 70px;
  margin: 0 0 25px 0;
  font-size: 14px;
  border-left: 4px solid #a6ce39;
  background: #f0f0f0;
  font-style: italic;
  position: relative;
  border-radius: 6px;
  -webkit-box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.08);
}
blockquote + cite {
  margin-top: -25px;
}
blockquote:before {
  display: block;
  position: absolute;
  left: 24px;
  top: 0;
  font-size: 68px;
  color: #a6ce39;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  content: '\275E';
  font-family: 'EntypoRegular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
cite {
  text-align: left;
  display: inline-block;
  position: relative;
  float: right;
  padding: 20px 0 0 40px;
  color: #454545;
  font-weight: bold;
}
cite:before {
  content: "—";
  margin-right: 4px;
}
cite:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-top: 20px solid #f0f0f0;
}
cite > span {
  color: #8f8f8f;
  display: block;
  font-weight: 300;
  padding-left: 16px;
  margin-top: -3px;
}
/* Testimonial */
.testimonial {
  position: relative;
  background: #fff;
  border: 2px solid #a6ce39;
  border-radius: 6px;
}
@media (min-width: 992px) {
  .testimonial {
    margin: 0 0 0 100px;
  }
}
.testimonial blockquote {
  background: #fff;
  border: none;
  border-radius: 6px 6px 0 0;
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.testimonial blockquote:before {
  color: #e0e0e0;
}
.testimonial:before {
  content: "";
  display: block;
  position: absolute;
  top: 18px;
  left: -14px;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 14px solid #a6ce39;
  z-index: 2;
}
.testimonial:after {
  content: "";
  display: block;
  position: absolute;
  top: 21px;
  left: -11px;
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-right: 11px solid #fff;
  z-index: 3;
}
.testimonial .bq-author {
  padding: 20px 20px 14px 24px;
  position: relative;
  background: #a6ce39;
  border-radius: 0 0 4px 4px;
  color: #fff;
  font-size: 12px;
  position: static;
}
.testimonial .bq-author .author-img {
  display: block;
  position: absolute;
  left: -100px;
  top: 0;
}
.testimonial .bq-author .author-img > img {
  border-radius: 50%;
  border: 3px solid #e1e1e1;
}
.testimonial .bq-author h6 {
  font-size: 13px;
  color: #454545;
  margin-bottom: 0;
}
.testimonial .bq-author .bq-author-info {
  font-size: 12px;
}
/*
// #Alerts
// --------------------------------------------------
*/
.alert {
  padding: 20px 28px;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 14px;
  position: relative;
}
.alert-dismissable .close {
  position: absolute;
  font-size: 14px;
  right: 9px;
  top: 9px;
  color: #fff;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 2px;
  border: none;
  font-weight: normal;
  vertical-align: top;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.alert-dismissable .close:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.alert-dismissable .close .fa {
  display: block;
  margin: 0;
  vertical-align: top;
  line-height: 16px;
  position: relative;
  top: -1px;
}
.alert-success {
  background-color: #e4fbe4;
  border-color: #bfe3bf;
  color: #55b155;
}
.alert-success hr {
  border-top-color: #addbad;
}
.alert-success .alert-link {
  color: #429142;
}
.alert-success .close {
  background: #bfe3bf;
}
.alert-info {
  background-color: #dfeffe;
  border-color: #b1d5f6;
  color: #3d94e6;
}
.alert-info hr {
  border-top-color: #9ac9f3;
}
.alert-info .alert-link {
  color: #1b7bd5;
}
.alert-info .close {
  background: #b1d5f6;
}
.alert-warning {
  background-color: #faf8e8;
  border-color: #f3eab2;
  color: #d2b715;
}
.alert-warning hr {
  border-top-color: #f0e49c;
}
.alert-warning .alert-link {
  color: #a48f10;
}
.alert-warning .close {
  background: #eada77;
}
.alert-danger {
  background-color: #fff5f5;
  border-color: #f8e6e6;
  color: #bb3737;
}
.alert-danger hr {
  border-top-color: #f2d2d2;
}
.alert-danger .alert-link {
  color: #942b2b;
}
.alert-danger .close {
  background: #e1b5b5;
}
/*
// #Dropcaps
// --------------------------------------------------
*/
.dropcap {
  display: inline-block;
  float: left;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  color: #a6ce39;
  text-align: center;
  font-size: 42px;
  line-height: 42px;
  line-height: 54px;
  font-weight: bold;
}
.dropcap.dropcap__rounded {
  width: 58px;
  height: 58px;
  border: 3px solid #a6ce39;
  border-radius: 50%;
  background-color: #fff;
  color: #a6ce39;
  font-size: 30px;
  line-height: 50px;
}
/*
// #Pricing Tables
// --------------------------------------------------
*/
/* Default */
.pricing-table {
  padding: 0 15px;
}
@media (min-width: 992px) {
  .pricing-table {
    padding: 20px 15px 20px 15px;
  }
}
.pricing-table .plan {
  border: 1px solid #ebebeb;
  margin: 0 -16px 0 -15px;
  background: #fff;
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .pricing-table .plan {
    margin-bottom: 0;
  }
}
.pricing-table .plan .pricing-head {
  padding: 0 0 24px 0;
}
.pricing-table .plan .pricing-head h3 {
  background: #454545;
  line-height: 64px;
  margin: 0;
  color: #fff;
  position: relative;
  margin: -1px -1px 24px -1px;
  border: 1px solid #3f3f3f;
}
.pricing-table .plan .pricing-head .price {
  font-size: 60px;
  display: block;
  line-height: 1em;
  color: #454545;
  font-family: 'Lato', sans-serif;
  position: relative;
  padding: 0 0 0 20px;
  text-indent: -20px;
}
.pricing-table .plan .pricing-head .price sup {
  font-size: 18px;
  vertical-align: top;
  position: absolute;
  top: 0;
  margin: 14px 0 0 0;
}
.pricing-table .plan .pricing-head small {
  font-size: 14px;
  color: #ebebeb;
}
.pricing-table .plan .pricing-body ul {
  padding-left: 0;
  list-style: none;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 0;
}
.pricing-table .plan .pricing-body ul > li {
  border-top: 1px solid #ebebeb;
  padding: 10px;
}
.pricing-table .plan .pricing-body ul > li:nth-child(odd) {
  background: #f7f7f7;
}
.pricing-table .plan .pricing-footer {
  padding: 30px 10px;
}
.pricing-table .plan.popular {
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.12);
}
.pricing-table .plan.popular .pricing-head h3 {
  background: #a6ce39;
  font-size: 24px;
  line-height: 90px;
  border-color: #a6ce39;
}
@media (min-width: 992px) {
  .pricing-table .plan.popular .pricing-head h3 {
    margin: -27px 0 24px 0;
  }
}
@media (min-width: 992px) {
  .pricing-table .plan.popular .pricing-footer {
    padding: 40px 10px;
  }
}
/* Style 2 */
@media (min-width: 992px) {
  .pricing-table__style2 {
    padding: 20px 0;
  }
}
.pricing-table__style2 .plan {
  border-radius: 6px;
  margin: 0 0 30px 0;
}
.pricing-table__style2 .plan .pricing-head .circled {
  position: relative;
  margin: 30px auto 40px auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #454545;
  color: #fff;
  text-align: center;
  display: table;
}
.pricing-table__style2 .plan .pricing-head .circled:after {
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  display: block;
  border-radius: 50%;
  background: #454545;
  content: "";
  opacity: 0.1;
  filter: alpha(opacity=10);
  z-index: 1;
}
.pricing-table__style2 .plan .pricing-head .circled .circled-inner {
  position: relative;
  z-index: 2;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.pricing-table__style2 .plan .pricing-head .circled .price {
  color: #fff;
  font-size: 32px;
  line-height: 1em;
}
.pricing-table__style2 .plan .pricing-head .circled small {
  color: #fff;
}
.pricing-table__style2 .plan .pricing-head h3 {
  background: none;
  color: #2f2f2f;
  padding: 0;
  margin: 0;
  line-height: 1.2em;
  border: none;
}
.pricing-table__style2 .plan.popular {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pricing-table__style2 .plan.popular .pricing-head .circled {
  background: #a6ce39;
}
.pricing-table__style2 .plan.popular .pricing-head .circled:after {
  background: #a6ce39;
}
.pricing-table__style2 .plan.popular .pricing-head h3 {
  background: none !important;
  line-height: 1.2em;
  font-size: 18px;
  border: none;
  color: #a6ce39;
}
@media (min-width: 992px) {
  .pricing-table__style2 .plan.popular .pricing-head h3 {
    margin: 0;
  }
}
@media (min-width: 992px) {
  .pricing-table__style2 .plan.popular .pricing-footer {
    padding: 30px 10px;
  }
}
/* Style 3 */
@media (min-width: 992px) {
  .pricing-table__style3 {
    padding: 80px 0 20px 0;
  }
}
.pricing-table__style3 .plan {
  border-radius: 6px;
  margin: 0 0 30px 0;
}
.pricing-table__style3 .plan .pricing-head .circled {
  position: relative;
  margin: -70px auto 40px auto;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #a6ce39;
  color: #fff;
  text-align: center;
  display: table;
  border: 10px solid #fff;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
}
.pricing-table__style3 .plan .pricing-head .circled .circled-inner {
  position: relative;
  z-index: 2;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.pricing-table__style3 .plan .pricing-head .circled .price {
  color: #fff;
  font-size: 32px;
  line-height: 1em;
}
.pricing-table__style3 .plan .pricing-head .circled small {
  color: #fff;
}
.pricing-table__style3 .plan .pricing-head h3 {
  background: none;
  color: #2f2f2f;
  padding: 0;
  margin: 0;
  line-height: 1.2em;
  border: none;
}
.pricing-table__style3 .plan.popular {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #a6ce39;
}
.pricing-table__style3 .plan.popular .pricing-head .circled {
  background: #454545;
}
.pricing-table__style3 .plan.popular .pricing-head h3 {
  background: none !important;
  line-height: 1.2em;
  font-size: 18px;
  border: none;
  color: #fff;
}
@media (min-width: 992px) {
  .pricing-table__style3 .plan.popular .pricing-head h3 {
    margin: 0;
  }
}
.pricing-table__style3 .plan.popular .pricing-body ul {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.pricing-table__style3 .plan.popular .pricing-body ul > li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
}
.pricing-table__style3 .plan.popular .pricing-body ul > li:nth-child(odd) {
  background: rgba(0, 0, 0, 0.1);
}
@media (min-width: 992px) {
  .pricing-table__style3 .plan.popular .pricing-footer {
    padding: 30px 10px;
  }
}
/* Style 4 */
@media (min-width: 992px) {
  .pricing-table__style4 {
    padding: 20px 0;
  }
}
.pricing-table__style4 .plan {
  border-radius: 6px;
  margin: 0 0 30px 0;
}
.pricing-table__style4 .plan .pricing-head {
  padding-bottom: 0;
}
.pricing-table__style4 .plan .pricing-head h3 {
  background: none;
  color: #2f2f2f;
  border: none;
  margin: 0;
}
.pricing-table__style4 .plan .pricing-head .pricing-head-inner {
  background: #a6ce39;
  padding: 15px 10px;
}
.pricing-table__style4 .plan .pricing-head .price {
  color: #fff;
  font-size: 32px;
  display: inline-block;
}
.pricing-table__style4 .plan .pricing-head small {
  display: inline-block;
  color: #fff;
  margin-left: -8px;
}
.pricing-table__style4 .plan .pricing-head small:before {
  content: "/";
  display: inline-block;
  margin-right: 3px;
}
.pricing-table__style4 .plan.popular {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #a6ce39;
}
.pricing-table__style4 .plan.popular .pricing-head h3 {
  background: #a6ce39;
  font-size: 18px;
  line-height: 64px;
  border: none;
  color: #fff;
  border-radius: 6px 6px 0 0;
}
@media (min-width: 992px) {
  .pricing-table__style4 .plan.popular .pricing-head h3 {
    margin: 0;
  }
}
.pricing-table__style4 .plan.popular .pricing-head .pricing-head-inner {
  background: #fff;
}
.pricing-table__style4 .plan.popular .pricing-head .price {
  color: #454545;
}
.pricing-table__style4 .plan.popular .pricing-head small {
  color: #454545;
}
.pricing-table__style4 .plan.popular .pricing-body ul {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.pricing-table__style4 .plan.popular .pricing-body ul > li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
}
.pricing-table__style4 .plan.popular .pricing-body ul > li:nth-child(odd) {
  background: rgba(0, 0, 0, 0.1);
}
@media (min-width: 992px) {
  .pricing-table__style4 .plan.popular .pricing-footer {
    padding: 30px 10px;
  }
}
/*
// #Progress Bars
// --------------------------------------------------
*/
.progress {
  height: 36px;
  padding: 2px;
  margin-bottom: 16px;
  background: #ebebeb;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress-bar {
  line-height: 32px;
  height: 32px;
  overflow: hidden;
  position: relative;
  background: #00adef;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* progress-bar types*/
.progress-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.progress-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.progress-total {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* progress-bar gender*/
.progress-bar-male {
  background: #73c9e3;
}
.progress-bar-female {
  background: #d9534f;
}
/* label */
.progress-label {
  font-size: 14px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  float: left;
}
h6 + .progress {
  margin-top: -8px;
}
/*
// #Misc
// --------------------------------------------------
*/
hr {
  border-top-color: #ebebeb;
}
hr.lg {
  margin: 60px 0;
}
hr.no-top-margin {
  margin-top: 0;
}
/* Spacers */
.spacer {
  height: 20px;
  overflow: hidden;
}
.spacer-sm {
  height: 10px;
  overflow: hidden;
}
.spacer-lg {
  height: 40px;
  overflow: hidden;
}
.spacer-xl {
  height: 60px;
  overflow: hidden;
}
.spacer-xxl {
  height: 80px;
  overflow: hidden;
}
/* Bordered Column */
.col-bordered {
  position: relative;
}
.col-bordered:before {
  width: 1px;
  background: #eee;
  content: "";
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
}
@media (min-width: 992px) {
  .col-bordered:before {
    display: block;
    right: -39px;
  }
}
@media (min-width: 992px) {
  .col-bordered[class*="col-md-pull"]:before {
    left: -39px;
    left: auto;
  }
}
/* Back To Top */
#back-top {
  position: absolute;
  top: -20px;
  left: 50%;
  margin: 0;
  z-index: 99;
}
#back-top a {
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
#back-top a .fa {
  margin-top: 20px;
  width: 40px;
  height: 40px;
  line-height: 54px;
  display: block;
  font-size: 14px;
  background: #454545;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#back-top a:hover {
  color: #454545;
}
#back-top a:hover .fa {
  line-height: 40px;
  background-color: #f4f4f4;
}
/* Helpers */
.animation {
  opacity: 0;
}
.animation-visible {
  opacity: 1;
}
.animated,
.animation {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.fontawesome-icon-list [class*="col-md-"] {
  margin-bottom: 10px;
}
.fontawesome-icon-list .fa {
  width: 32px;
  text-align: right;
  font-size: 14px;
  margin-right: 10px;
  color: #454545;
}
.entypo-icon-list [class*="col-md-"] {
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.entypo-icon-list .entypo,
.entypo-icon-list .entypo-social {
  width: 32px;
  text-align: right;
  font-size: 28px;
  margin-right: 10px;
  color: #454545;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.litter-section {
  margin-top: 20px;
  margin-bottom: 20px;
}
.item-animate.ng-hide-remove,
  display:block!important;
}

.item-animate.ng-hide-add {
  animation:0.5s hide;
  -o-animation:0.5s hide;
  -moz-animation:0.5s hide;
  -webkit-animation:0.5s hide;
  animation:0.5s hide;
}

.item-animate.ng-hide-remove {
  animation:1s show;
  -o-animation:0.5s show;
  -moz-animation:0.5s show;
  -webkit-animation:0.5s show;
  animation:0.5s show;
}
@-webkit-keyframes hide {
  from { opacity:1; }
  to { opacity:0; }
}
@-webkit-keyframes hide {
  from { opacity:1; }
  to { opacity:0; }
}
@-moz-keyframes hide {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes hide {
  from { opacity:1; }
  to { opacity:0; }
}
@keyframes hide {
  from { opacity:1; }
  to { opacity:0; }
}

@keyframes hide {
  from { opacity:1; }
  to { opacity:0; }
}
@-o-keyframes hide {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes hide {
  from { opacity:1; }
  to { opacity:0; }
}
@-keyframes show {
  from { opacity:0; }
  to { opacity:1; }
}

@keyframes show {
  from { opacity:0; }
  to { opacity:1; }
}
@-webkit-keyframes show {
  from { opacity:0; }
  to { opacity:1; }
}

@-webkit-keyframes show {
  from { opacity:0; }
  to { opacity:1; }
}
@-moz-keyframes show {
  from { opacity:0; }
  to { opacity:1; }
}

@-moz-keyframes show {
  from { opacity:0; }
  to { opacity:1; }
}
@-o-keyframes show {
  from { opacity:0; }
  to { opacity:1; }
}

@-o-keyframes show {
  from { opacity:0; }
  to { opacity:1; }
}
.text-center {
  text-align : center;
}

.progress-bar-success {
  line-height: 32px;
  height: 32px;
  overflow: hidden;
  position: relative;
  text-align: right;
  padding: 0 20px;
  background: #a6ce39;
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress-bar-info {
  line-height: 32px;
  height: 32px;
  overflow: hidden;
  position: relative;
  text-align: right;
  padding: 0 20px;
  background: #73c9e3;
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress-bar-warning {
  line-height: 32px;
  height: 32px;
  overflow: hidden;
  position: relative;
  text-align: right;
  padding: 0 20px;
  background: #fcbe5c;
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress-bar-danger {
  line-height: 32px;
  height: 32px;
  overflow: hidden;
  position: relative;
  text-align: right;
  padding: 0 20px;
  background: #d9534f;
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.litters-view {
  padding-top: 10px !important;
}
.slider-frame {
  border-radius: 6px;
  border: 5px solid #eaeaea;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
  max-width: 500px;
  height: 330px ;
  margin-bottom: 15px;
  background-color: white;
}
.border-radius {
  border-radius: 10px;
}
.specific-puppy-section {
  background-color: white;
  border-radius: 30px;
  background-image: url('../imgs/section-bg.jpg');
  background-repeat: repeat;
}
.puppy-accordion .panel {
  margin: -10px;
}
.puppy-availability {
  color: red;
}
.availabilty div {
  margin-left: 10px;
  margin-right: 10px;
}
.thumbnail a img {
  height: 60px;
  width: 60px;
}