.header .nav-tabs li {
	font-size: 20px;
}
span .user {
  font-size: 18px;
  font-style: italic;
}
.header-top-right {
  line-height: 20px;
}
.slideOut {
  animation-name: slideOut 0.5s linear;
  -webkit-animation-name: slideOut 0.5s linear;
  -moz-animation: slideOut 0.5s linear;
  -0-animation: slideOut 0.5s linear;
}
#messageContainer {
  position: fixed;
  top: 5px;
  width: 60%;
  left: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 14;
}
#messageContainer .alert{
  margin-bottom: 5px;
}